# Ignore everything
/*

# Allow specific files/directories
!README.md
!screenshots/
!assets/
!assets/icons/
!assets/icons/logo.ico
!assets/configs/
!assets/logs/
!.gitignore
!src/
!setup.py
!build.py
!requirements.txt
!LICENSE

# Re-ignore everything inside assets EXCEPT icons and configs
/assets/*
!/assets/icons/
/assets/icons/*
!/assets/icons/logo.ico
!/assets/configs/
!/assets/logs/
